*{
    margin: 0;
    padding: 0;  /* providing default margin and padding to be 0 */
}

/* home page styling */ 

body{
      background-image:url("images/img12.jpg");
}
    

.homePage{                                      
    display: flex;                             
    justify-content: space-around;   
    height: 100vh;
    align-items: left;
  
}

.myImage img{                                  
    height: 18rem;
    width: auto;
    border-radius: 1rem;
}

.name{                                         
    font-size: 4rem;
    font-family: 'Licorice', cursive;

}
.text{
    fontsize: 3rem;
    font-family: 'Luxurious Roman', cursive;
}


.intro p{                                      
    font-size: 2rem;
    line-height: 3rem;
    
}


/* about me */
.about{                                      
    min-height: 60vh;
    align:bottom;
}

.about_heading{                               
    font-size: 3rem;
    text-align: center;
   
    font-weight:600;
    font-family: 'Luxurious Roman', cursive;
}


.para{                                      
    width:70vw; 
    margin:8vh auto;
    font-size: 2em;
    font-family: 'Luxurious Roman', cursive;
}
